<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>螺钉书城注册页面</title>
    <link href="../css/register.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1 style="color: white; margin: 0; text-align: center">用户注册</h1>
        <form action="" method="post">
            <label><input type="text" name="username" placeholder="用户名"/></label>
            <label><input type="text" name="email"  placeholder="邮箱"/></label>
            <label><input type="password" name="password" placeholder="密码" /></label>
            <label><input type="password" name="repassword" placeholder="重复密码" /></label>
            <input type="button" value="发送验证码">
            <label><input type="text" name="captcha" placeholder="验证码"></label>
            <input type="submit" value="注册"/>
            <p class="change_link" style="text-align: center">
                <span class="text">已经注册 ?</span>
                <a href="login.html" class="to_login"> 点击去登录 </a>
            </p>
        </form>
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>